.bottom-nav {
  height: 3rem;
}

.authors {
  font-size: 10px;
}

.grid {
  display: grid;
}

.bottom-nav-2-buttons button {
  font-size: 0.75rem;
}
.main-body-signup {
  margin-bottom: 100px;
}
.mb-cell-middle-right p {
  font-size: 10px;
}

.bottom-nav-2 {
  grid-template-columns: 75% 25%;
  height: 2rem;
}

.main-body {
  margin-top: 200px;

}

.footer-link {
  font-size: 10px;
  color: dimgrey;
}
